.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #141f74;
}



.card {
    color: white;

}

.card-img-overlay{
    padding: 30px 0;
}

#vendors {
    background-color: #182692;
     color: white;
} 

#contacts {
   /* background-color: rgb(9, 43, 153);*/
    color: black;
}  
    
.card-body {
       color: black;
}
