.nav {
    --bs-nav-link-color:  #2c3fce;
    --bs-nav-link-hover-color: blue;
}


.card-img-overlay{
    padding: 30px 0;
}

#vendors {
    background-color: #182692;
     color: white;
} 

#contacts {
    color: black;
}  
    
.card-body {
       color: black;
}
